/* Nombre: pantalla.css
   Fecha: 26-10-2011
*/ 

/* estilos principales */ 
body { 
	font-family: 'Univers', sans-serif;
	font-size: 150%; 
}

div {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 200px;
	border: black 1px solid;
	//border-color: black;
	//border-width: 1px;
	//border-style: solid;
}


div.visible {
	overflow: visible;
}

div.hidden {
	overflow: hidden;
}

div.scroll {
	overflow: scroll;
}

div.auto {
	overflow: auto;
}
