body {
	color: white;
	background-color: #00008B;
	font-family: Letter Gothic;
}
	
h1 {
	color: blue;
	background-color: orange;
}

h2 {
	color: red;
	background-color: #ADD8E6;
}

h3 {
	color: white;
	background-color: green;
}

p#Texto1 {
	text-align: justify;
	font-family: Verdana;
	font-size: 1em;
}

.texto-pre {
	color: green;
	background-color: gray;
	width: 80%;
}

a:hover {
	color: red;
	background-color: white;
}

img#foto {
	margin-right: 5px;
}

.sub {
	text-decoration: underline;
}

.neg {
	font-weight: bold;
}